require 'date'

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Date</title>



    <h1><%= Today %></h1>
      <p><%= Date.today.strftime %></p>
  </head>
  <body>

  </body>
</html>


Using ERB tags, and the DateTime library, display today's date in a p tag. The date should be formatted to look something like this The date is Wednesday, November 18, 2015.
