<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1><%= Today = Date.today.strftime("%A, %B %d, %Y") %></h1>
        <p1><%= "The date is #{Today}"%></p1>
    </body>
</html>